.todo-app {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.settingsButton {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  bottom: 0;
  right: 45px;
  background: none;
  background-color: var(--settings-button);
  &.light {
    background-image: url('../../styles/icons/cogWheelWhite.svg');
  }
  &.dark {
    background-image: url('../../styles/icons/cogWheel.svg');
  }
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: none;
}
