.markdown-input {
  width: 100%;
  overflow-y: auto;
  padding: 0 35px 25px 35px;
  position: relative;
  .schedule {
    min-height: 42px;
    margin: 20px 0;
    display: flex;
    justify-content: end;
    .schedule-button {
      margin-left: 20px;
      cursor: pointer;
      height: 56px;
      border: none;
      border-radius: 4px;
      padding: 0 10px;
      font-size: 16px;
      font-family: 'Regular';
      font-weight: bold;
      line-height: 1.5;
      color: var(--main-text);
      background-color: var(--input-background);
      &:hover {
        background-color: var(--button-hover);
      }
    }
  }
  .name-input {
    display: flex;
    width: calc(100% - 20px);
    margin-bottom: 20px !important;
    background-color: var(--input-background);
    height: 35px;
    font-size: 22px;
    border: none;
    border-radius: 4px;
    margin: 0;
    color: var(--main-text);
    padding: 5px 10px;
  }
}
