@import 'colors';

body {
  min-width: 700px;
  position: relative;
  margin: 0;
}

#root {
  height: calc(100vh - 20px);
}

.App {
  padding: 10px;
  height: calc(100vh - 20px);
  background-color: var(--page-content-background);
}

.header-close-icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  background-image: url('./icons/CloseIcon.svg');
  &:hover {
    background-color: #ebebeb;
    border-radius: 50%;
  }
}

* {
  font-family: 'Regular';
  font-style: normal;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 4px;
  background-color: rgb(112, 112, 112);
}

input {
  outline: none;
}

@font-face {
  font-family: 'Regular';
  src: local('Poppins, Regular'),
    url(./fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Medium';
  src: local('Poppins, Medium'),
    url(./fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Bold';
  src: local('Poppins, Bold'), url(./fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Semibold';
  src: local('Poppins, Semibold'),
    url(./fonts/Poppins-SemiBold.ttf) format('truetype');
}
