<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>StoRadit</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script>
    window.electron.ipcRenderer.once('ipc-example', (arg) => {
      // eslint-disable-next-line no-console
      console.log(arg);
    });

    window.electron.ipcRenderer.myPing();

    const notification = document.getElementById('notification');
    const message = document.getElementById('message');
    const restartButton = document.getElementById('restart-button');

    window.electron.ipcRenderer.on('update_available', () => {
      window.electron.ipcRenderer.removeAllListeners('update_available');
      message.innerText = 'A new update is available. Downloading now...';
      notification.classList.remove('hidden');
    });
    window.electron.ipcRenderer.on('update_downloaded', () => {
      window.electron.ipcRenderer.removeAllListeners('update_downloaded');
      message.innerText =
        'Update Downloaded. It will be installed on restart. Restart now?';
      restartButton.classList.remove('hidden');
      notification.classList.remove('hidden');
    });
  </script>
</html>
